<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <style>
*       {margin:0;padding:0;}
html, 
body    {height:100%;  width:100%; overflow:hidden;}
iframe  {float:left; height:600px; width:33.32%;}
.content {height:100%;}
</style>
    </head>
    
<body>

<div id="content">
     
    <iframe id="frame" src="shuttlUI1.html"   scrollable="yes">
    </iframe>
    <iframe  id="frame" src="shuttlUI1.html"  scrollable="yes" >
    </iframe>
    <iframe  id="frame" src="shuttlUI1.html"   scrollable="yes" >
    </iframe>
</div>

</body>
</html>
